@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<div class="jumbotron">
    <h2>What are we About?</h2>
    <p>
        <i>project slackboard</i> (name pending) is a learning service that is dedicated to providing a portable dashboard for students to progress in an easier manner.
        <br/> It is provided using an ASP.NET Website and Android application.
    </p>
</div>
