@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<div class="jumbotron">
<h3>Contact Us</h3>
    <address>
        Phone: 1300 300 822<br/>
        19-25 Aberdeen Street<br/>
        Perth, Western Australia
    </address>
<address>
    <strong>Queries:</strong> <a href="mailto:enquiry@nmtafe.wa.edu.au">enquiry@nmtafe.wa.edu.au</a><br />
</address>
</div>

