@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-6">
        <img src="~/images/kerala.jpg" width="384" height="384" id="image-stamp"/>
    </div>
    <div class="col-md-6">
        <h2>What is <i>project slackboard</i>?</h2>
        <br/>
        <p>This is a learning dashboard that is designed to adapt to <strong>you</strong>. The focus on the learning aspect is being designed to make your focus the priority of this service.</p>
    </div>
</div>
