@{
    ViewData["Title"] = "Home";
}


<div class="container-fluid">
    <div class="jumbotron">
        <h1>project slackboard</h1>
        <p>This is a simple learning platform that is designed to grow with your skills. </p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="image-container">
                    <img src="~/images/units.jpg" width="200" height="200" alt="Units" class="stamp"/>
                </div>
                <br/>
                <p>This is where you will find the units in the application.</p>
            </div>
            <div class="col-md-4">
                <div class="image-container">
                    <img src="~/images/assignments.jpg" width="200" height="200" alt="Assignments" class="stamp"/>
                </div>
                <br/>
                <p>This is where the assignments will be found.</p>
            </div>
            <div class="col-md-4">
                <div class="image-container">
                    <img src="~/images/under-construction.jpg" width="200" height="200" alt="Coming Soon" class="stamp" />
                </div>
                <br/>
                <p>Watch this space... Something might be coming in the near future.</p>
            </div>
        </div>
    </div>
</div>
