@model WebApplication.Models.Assignment

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <h2>Create an Assignment</h2>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssignmentName" class="control-label"></label>
                <input asp-for="AssignmentName" class="form-control" />
                <span asp-validation-for="AssignmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentDescription" class="control-label"></label>
                <input asp-for="AssignmentDescription" class="form-control" />
                <span asp-validation-for="AssignmentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentCommenceDate" class="control-label"></label>
                <input asp-for="AssignmentCommenceDate" class="form-control" />
                <span asp-validation-for="AssignmentCommenceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentEndDate" class="control-label"></label>
                <input asp-for="AssignmentEndDate" class="form-control" />
                <span asp-validation-for="AssignmentEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a class="btn btn-default"  asp-action="Index">Back to List</a>
            </div>
        </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
